.card {
    width: 406px;
    height: 842px;
    border-radius: 2em;
    padding: 10px;
    background-color: #191919;
    box-shadow: 5px 5px 30px rgb(4, 4, 4),
                     -5px -5px 30px rgb(57, 57, 57);
  }
  
  .profileimage {
    background-color: transparent;
    border: none;
    margin-top: 20px;
    border-radius: 5em;
    width: 100px;
    height: 100px;
  }
  
  .pfp {
    border-radius: 35em;
    fill: white;
  }
  
  .Name {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .socialbar {
    background-color: #191919;
    border-radius: 3em;
    width: 95%;
    padding: 14px;
    color: white;
    box-shadow: 3px 3px 15px rgb(0, 0, 0),
                     -3px -3px 15px rgb(58, 58, 58);
  }
  
  .card a {
    transition: 0.4s;
    color: white
  }
  
  #github:hover {
    color: #c9510c;
  }
  
  #instagram:hover {
    color: #d62976;
  }
  
  #facebook:hover {
    color: #3b5998;
  }
  
  #twitter:hover {
    color: #00acee;
  }