

<app-appheader (headerData)="handleHeaderData($event)"></app-appheader>
 <!-- start search data -->
<div *ngIf="receivedData && receivedData.length">
  <ion-icon style="position: relative;left: 10px;" (click)="cleardata()" name="close-circle"></ion-icon>
  <div  *ngFor="let item of receivedData">
  <ion-item-sliding>
    <ion-item [button]="true" (click)="detailsPage(item.id)">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="{{item.image}}" />
      </ion-avatar>
      <ion-label>{{ item.title | slice:0:10 }}</ion-label>
    </ion-item>
    <ion-item-options slot="end">
      <ion-item-option color="warning">
        <ion-icon slot="icon-only" name="pin"></ion-icon>
      </ion-item-option>
      <ion-item-option color="tertiary">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" expandable="true">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</div>
 </div>
 <!-- end search data -->
<ion-card-content *ngIf="product_details && product_details.id">
  
  <div class="card">
    <ion-button fill="outline" (click)="Back()">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-button>
      
    
    <div class="image-container">
           <img src="{{product_details.image}}" alt="">
                
        <div class="price">₹{{product_details.price}}</div>
    </div>
    <label class="favorite">
        <input checked="" type="checkbox">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
            <path d="M12 20a1 1 0 0 1-.437-.1C11.214 19.73 3 15.671 3 9a5 5 0 0 1 8.535-3.536l.465.465.465-.465A5 5 0 0 1 21 9c0 6.646-8.212 10.728-8.562 10.9A1 1 0 0 1 12 20z"></path>
        </svg>
    </label>

    <div class="content">
        <div class="brand">{{product_details.title}}</div>
        <div class="product-name">{{product_details.category}}
          <h6 style="font-size: x-small;">{{product_details.description}}</h6>
        </div>
        <!-- <p>{{product_details[0].description}}</p> -->
        <div class="color-size-container">
            <div class="colors">
                Color
                <ul class="colors-container">
                    <li class="color"><a href="#"></a> <span class="color-name">Collegiate Gold</span></li>
                    <li class="color active"><a href="#"></a><span class="color-name">Team Navy</span></li>
                    <li class="color"><a href="#"></a><span class="color-name">Pulse Blue</span></li>
                    <li class="color"><a href="#"></a><span class="color-name">Pink Fusion</span></li>
                    +2
                </ul>
            </div>
            <div class="sizes">
                Size
                <ul class="size-container">
                    <li class="size">
                        <label class="size-radio">
                            <input name="size" value="xs" type="radio">
                            <span class="name">XS</span>
                        </label>
                    </li>
                    <li class="size">
                        <label class="size-radio">
                            <input checked="" name="size" value="s" type="radio">
                            <span class="name">S</span>
                        </label>
                    </li>
                    <li class="size">
                        <label class="size-radio">
                            <input name="size" value="m" type="radio">
                            <span class="name">M</span>
                        </label>
                    </li>
                    <li class="size">
                        <label class="size-radio">
                            <input name="size" value="l" type="radio">
                            <span class="name">L</span>
                        </label>
                    </li>
                    <li class="size">
                        <label class="size-radio">
                            <input name="size" value="xl" type="radio">
                            <span class="name">XL</span>
                        </label>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="rating">
            <svg viewBox="0 0 99.498 16.286" xmlns="http://www.w3.org/2000/svg" class="svg four-star-svg">
                <path fill="#fc0" transform="translate(-0.001 -1.047)" d="M9.357,1.558,11.282,5.45a.919.919,0,0,0,.692.5l4.3.624a.916.916,0,0,1,.509,1.564l-3.115,3.029a.916.916,0,0,0-.264.812l.735,4.278a.919.919,0,0,1-1.334.967l-3.85-2.02a.922.922,0,0,0-.855,0l-3.85,2.02a.919.919,0,0,1-1.334-.967l.735-4.278a.916.916,0,0,0-.264-.812L.279,8.14A.916.916,0,0,1,.789,6.576l4.3-.624a.919.919,0,0,0,.692-.5L7.71,1.558A.92.92,0,0,1,9.357,1.558Z" id="star-svgrepo-com"></path>
                <path fill="#fc0" transform="translate(20.607 -1.047)" d="M9.357,1.558,11.282,5.45a.919.919,0,0,0,.692.5l4.3.624a.916.916,0,0,1,.509,1.564l-3.115,3.029a.916.916,0,0,0-.264.812l.735,4.278a.919.919,0,0,1-1.334.967l-3.85-2.02a.922.922,0,0,0-.855,0l-3.85,2.02a.919.919,0,0,1-1.334-.967l.735-4.278a.916.916,0,0,0-.264-.812L.279,8.14A.916.916,0,0,1,.789,6.576l4.3-.624a.919.919,0,0,0,.692-.5L7.71,1.558A.92.92,0,0,1,9.357,1.558Z" data-name="star-svgrepo-com" id="star-svgrepo-com-2"></path>
                <path fill="#fc0" transform="translate(41.215 -1.047)" d="M9.357,1.558,11.282,5.45a.919.919,0,0,0,.692.5l4.3.624a.916.916,0,0,1,.509,1.564l-3.115,3.029a.916.916,0,0,0-.264.812l.735,4.278a.919.919,0,0,1-1.334.967l-3.85-2.02a.922.922,0,0,0-.855,0l-3.85,2.02a.919.919,0,0,1-1.334-.967l.735-4.278a.916.916,0,0,0-.264-.812L.279,8.14A.916.916,0,0,1,.789,6.576l4.3-.624a.919.919,0,0,0,.692-.5L7.71,1.558A.92.92,0,0,1,9.357,1.558Z" data-name="star-svgrepo-com" id="star-svgrepo-com-3"></path>
                <path fill="#fc0" transform="translate(61.823 -1.047)" d="M9.357,1.558,11.282,5.45a.919.919,0,0,0,.692.5l4.3.624a.916.916,0,0,1,.509,1.564l-3.115,3.029a.916.916,0,0,0-.264.812l.735,4.278a.919.919,0,0,1-1.334.967l-3.85-2.02a.922.922,0,0,0-.855,0l-3.85,2.02a.919.919,0,0,1-1.334-.967l.735-4.278a.916.916,0,0,0-.264-.812L.279,8.14A.916.916,0,0,1,.789,6.576l4.3-.624a.919.919,0,0,0,.692-.5L7.71,1.558A.92.92,0,0,1,9.357,1.558Z" data-name="star-svgrepo-com" id="star-svgrepo-com-4"></path>
                <path fill="#e9e9e9" transform="translate(82.431 -1.047)" d="M9.357,1.558,11.282,5.45a.919.919,0,0,0,.692.5l4.3.624a.916.916,0,0,1,.509,1.564l-3.115,3.029a.916.916,0,0,0-.264.812l.735,4.278a.919.919,0,0,1-1.334.967l-3.85-2.02a.922.922,0,0,0-.855,0l-3.85,2.02a.919.919,0,0,1-1.334-.967l.735-4.278a.916.916,0,0,0-.264-.812L.279,8.14A.916.916,0,0,1,.789,6.576l4.3-.624a.919.919,0,0,0,.692-.5L7.71,1.558A.92.92,0,0,1,9.357,1.558Z" data-name="star-svgrepo-com" id="star-svgrepo-com-5"></path>
            </svg>
            {{product_details.rating.count}}
        </div>
    </div>

    <div class="button-container">
        <!-- <button class="buy-button button" id="open-toast" (click)="AddTocard()">Add To Card</button> -->
        <button *ngIf="message=='exist'" class="buy-button button" id="open-toast" slot="end" (click)="cardDetailsFun()"> GO TO CARD</button>
        <button *ngIf="message!='exist'" class="buy-button button" id="open-toast" slot="end" (click)="AddTocard()"> Add To Card</button>
        <button class="cart-button button" (click)="buypage(product_details.id)">
          Buy Now

        </button>
        <ion-toast trigger="open-toast" message="{{message}}" [duration]="3000"></ion-toast>
    </div>
</div>
</ion-card-content>
<ion-content *ngIf="!product_details.id">
  <div class="loading"  style="position: relative;  left: 35%; top: 321px;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</ion-content>